# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
env/
venv/
ENV/
.env/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Logs
# =========================
*.log

# =========================
# Database
# =========================
*.sqlite3

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Pytest / Cache
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# Coverage Reports
# =========================
.coverage
htmlcov/

# =========================
# Build / Dist
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/